$color-brand-1: rgb(255, 148, 0);
$color-brand-2: rgb(-0, 52, 98 );

$color-primary: rgb(48, 71, 131);

$color-header: #e4e3e1;

$color-hover-1: #4a566b;

$color-brand-action-1: white;

$color-white: #f6e6e6;
$color-delete: #e64040;
$color-text: #313F57;

$color-1: #0fadd4;
$color-2: #1caea1;
$color-3: #407d93;
$color-4: #F3F2EF;

$color-filter: #407d93;
$color-refresh: #ecb82b;